body {
background-color:#0a0420;
color:#FFFFFF;
width:auto;
}

.wrapper {
padding-left:20px;
padding-right:20px;
width:80%;
}

.name {
font-family: 'Courier New', Courier, monospace;
color:#ffe2fb;
font-weight: bold;
}

.nav {
font-style:normal;
font-family:Arial, Helvetica, sans-serif;
}

.cite {
background-color: #141414;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
padding: 10px;
text-align: center;
font-size: 14px;
}